<ion-view title="Now Airing">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header contentpage">

<div class="list">



  <label class="item item-input item-select">
    <div class="input-label">
      Airing Day
    </div>
    <select>
      <option selected>Monday</option>      
      <option>Tuesday</option>
      <option>Wednesday</option>
      <option>Thursday</option>      
      <option>Friday</option>
      <option>Saturday</option>      
      <option>Sunday</option>            
    </select>
  </label>



</div>

    <ion-list>




<div class="list card" ng-repeat="anime in chartData">
    <ng-anime ng-model="anime" ng-click="showAnime(anime.mal_id)"></ng-anime>
</div>




   </ion-list>

  </ion-content>




</ion-view>
