<ion-view title="{{anime.name}}">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header contentpage">



    <ion-list>


<div class="list card animedetails">

  <div class="item">    
    <img src="{{anime.poster}}">
  </div>

  <div class="item item-body">

    <div class="row">
        <div class="col col-50 infoheader">Type: </div>
        <div class="col col-50 infodata">{{anime.type}}</div>
    </div>

    <div class="row">
        <div class="col col-50 infoheader">Episodes: </div>
        <div class="col col-50 infodata">{{anime.episodes}}</div>
    </div>

    <div class="row">
        <div class="col col-50 infoheader">Status: </div>
        <div class="col col-50 infodata">{{anime.status}}</div>
    </div>    

    <div class="row">
        <div class="col col-50 infoheader">Score: </div>
        <div class="col col-50 infodata">{{anime.score}}</div>
    </div>    

    <div class="row">
        <div class="col col-50 infoheader">Ranked: </div>
        <div class="col col-50 infodata">#{{anime.rank}}</div>
    </div>    

    <div class="row">
        <div class="col col-30 infoheader">Genres: </div>
        <div class="col col-70 infodata"> <span ng-repeat="genre in anime.genres">{{genre}} </span> </div>
    </div>   



  </div>

  <div class="item item-body">

    
  <h2>Synoposis</h2>
  <p>{{anime.synopsis}}</p>

  </div>

</div>




   </ion-list>

  </ion-content>




</ion-view>
