<ion-view title="{{anime.name}}">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header contentpage">



    <ion-list>


<div class="list card animedetails">

  <div class="item">    
    <img src="{{anime.poster}}">
  </div>

  <div class="item item-body">

    <div class="row">
        <div class="col col-50 infoheader">Title: </div>
        <div class="col col-50 infodata">{{anime.name}}</div>
    </div>

    <div class="row">
        <div class="col col-50 infoheader">Type: </div>
        <div class="col col-50 infodata">{{anime.type}}</div>
    </div>

    <div class="row">
        <div class="col col-50 infoheader" ng-show="anime.episodes">Episodes: </div>
        <div class="col col-50 infodata" ng-show="anime.episodes">{{anime.episodes | displayEpisodeCount}}</div>

        <div class="col col-50 infoheader" ng-show="anime.chapters">Chapters: </div>
        <div class="col col-50 infodata" ng-show="anime.chapters" >{{anime.chapters | displayEpisodeCount}}</div>

    </div>

    <div class="row">
        <div class="col col-50 infoheader">Status: </div>
        <div class="col col-50 infodata">{{anime.status | statusFormatter }}</div>
    </div>    

    <div class="row">
        <div class="col col-50 infoheader">Score: </div>
        <div class="col col-50 infodata">{{anime.malstats.score}}</div>
    </div>    

    <div class="row">
        <div class="col col-50 infoheader">Ranked: </div>
        <div class="col col-50 infodata">#{{anime.malstats.rank}}</div>
    </div>    

    <div class="row">
        <div class="col col-30 infoheader">Genres: </div>
        <div class="col col-70 infodata"> <span> <ul> <li ng-repeat="genre in anime.genres">{{genre}}</li> </ul> </span> </div>
    </div>   



  </div>


  <div class="item item-body">

    
  <h2>Synoposis</h2>
  <p>{{anime.synopsis}}</p>


  <div class="list">


  <div ng-show="entry != undefined" class="item item-icon-left item-icon-right item-calm" ng-click="remove()">
    <i class="icon ion-android-note"></i>
    <i class="icon ion-chevron-right"></i>
    Edit List
  </div>

  <div ng-show="entry == undefined" class="item item-icon-left item-icon-right item-calm" ng-click="addToList()">
    <i class="icon ion-checkmark-round"></i>
    <i class="icon"></i>
    Add to List
  </div>


  <a class="item item-icon-left item-icon-right item-calm" ng-click="goToReview()">
    <i class="icon ion-chatbubble"></i>
    <i class="icon ion-chevron-right"></i>
    Reviews
  </a>


  <a class="item item-icon-left item-icon-right item-calm" href="#">
    <i class="icon ion-chatbubbles"></i>
    <i class="icon ion-chevron-right"></i>
    Recommendations
  </a>

  <a class="item item-icon-left item-icon-right item-calm" href="#">
    <i class="icon ion-image"></i>
    <i class="icon ion-chevron-right"></i>
    Gallery
  </a>

  <a class="item item-icon-left item-icon-right item-calm" href="#">
    <i class="icon ion-person"></i>
    <i class="icon ion-chevron-right"></i>
    People
  </a>



</div>



  </div>

</div>





   </ion-list>

  </ion-content>




</ion-view>
