<ion-view title="Manga">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>


        <ion-tabs class="tabs-icon-top tabs-dark">
            <ion-tab title="Top Rated" icon="ion-star" on-select="selectPopular()">
                <ion-content has-header="true" padding="false">
                
              <ion-infinite-scroll
                on-infinite="pageRanked()"
                distance="1%">
              </ion-infinite-scroll>


    <ion-list>

        <div class="list card" style=" padding: 0px; margin: 0px; height: 300px; background-image: url('{{item.poster}}'); background-size: cover; background-position: center center; width: 50%; float: left;" ng-repeat="item in items" ng-click="showAnime(item.mal_id)">

        <div style="bottom: 0px; position: absolute; width: 100%; background-color: rgba(0, 0, 0, 0.7); color: white; text-align: center; height: auto; min-height: 40px; font-size: 12px">{{item.name}}</div>

        </div>

    </ion-list>





             


                </ion-content>
            </ion-tab>

            <ion-tab title="Most Popular" icon="ion-arrow-graph-up-right"  on-select="selectPopular()" >
                <ion-content has-header="true" padding="false">

                  <ion-infinite-scroll
                    on-infinite="pagePopular()"
                    distance="1%">
                  </ion-infinite-scroll>


                      <ion-list>

                          <div class="list card" style=" padding: 0px; margin: 0px; height: 300px; background-image: url('{{item.poster}}'); background-size: cover; background-position: center center; width: 50%; float: left;" ng-repeat="item in items" ng-click="showAnime(item.mal_id)">

                          <div style="bottom: 0px; position: absolute; width: 100%; background-color: rgba(0, 0, 0, 0.7); color: white; text-align: center; height: auto; min-height: 40px; font-size: 12px">{{item.name}}</div>

                          </div>

                      </ion-list>


                </ion-content>
            </ion-tab>
        </ion-tabs>


</ion-view>
