<ion-view title="Now Airing">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  
  <ion-content class="has-header contentpage" padding="false">

<div class="list">



  <label class="item item-input item-select">
    <div class="input-label">
      Type
    </div>
  <select ng-change="update(currentSeason)" ng-model="currentSeason" ng-options="season.title for season in seasons"></select>
  </label>



</div>

    <ion-list>





    <ng-anime ng-repeat="anime in chartData" ng-model="anime" ng-click="showAnime(anime.mal_id)"></ng-anime>





   </ion-list>

  </ion-content>




</ion-view>
