<ion-view title="My List">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header contentpage">

    <ion-list>


<div class="list card">

  <div class="item item-avatar">
    <img src="http://cdn.myanimelist.net/images/anime/13/10000.jpg">
    <h2>Clannad: After Story</h2>
    <p>Episodes: 5/24</p>
  </div>

  <div class="item item-body">
    <img class="full-image" src="http://cdn.myanimelist.net/images/anime/13/24647.jpg">
  </div>

</div>


<div class="list card">

  <div class="item item-avatar">
    <img src="http://cdn.myanimelist.net/images/anime/13/10000.jpg">
    <h2>Clannad: After Story</h2>
    <p>Episodes: 5/24</p>
  </div>

  <div class="item item-body">
    <img class="full-image" src="http://cdn.myanimelist.net/images/anime/13/24647.jpg">
  </div>

</div>


<div class="list card">

  <div class="item item-avatar">
    <img src="http://cdn.myanimelist.net/images/anime/13/10000.jpg">
    <h2>Clannad: After Story</h2>
    <p>Episodes: 5/24</p>
  </div>

  <div class="item item-body">
    <img class="full-image" src="http://cdn.myanimelist.net/images/anime/13/24647.jpg">
  </div>

</div>


<div class="list card">

  <div class="item item-avatar">
    <img src="http://cdn.myanimelist.net/images/anime/13/10000.jpg">
    <h2>Clannad: After Story</h2>
    <p>Episodes: 5/24</p>
  </div>

  <div class="item item-body">
    <img class="full-image" src="http://cdn.myanimelist.net/images/anime/13/24647.jpg">
  </div>

</div>


   </ion-list>

  </ion-content>






</ion-view>
