/* Empty. Add your own CSS if you like */

.scroll-content.contentpage {
	background-color: #d3d3d3 ;
}


.animecard {
	margin: 0;
	height: 240px;
}

.animecard .poster {
	float: left;
	height: 100%;
	width: 33%;
}

.animecard .animeinfo {
	float: right;
	width: 66%;
}

.full-image {
	width: 50%;
	height: 50%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.animedetails h2
{
	font-family: "Open Sans";
	text-align: left;
	font-weight: bold;
	color: blue;
}

.animedetails img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.animedetails .infoheader {
	font-weight: bold;
	float: left;
	text-align: left;
}

.animedetails .infodata {
	text-align: right;
	float: right;
}

.review-text {
	font-family: Arial;
}

.splash-entry {
	background-color: #43cee6;
	background-image: url('../img/otaku.png');
	background-position: center;
	background-repeat: no-repeat;
}

.accordion-item {
	  transition: 0.09s all linear;
}

/*
 * http://docs.angularjs.org/api/ng/directive/ngShow#usage_animations
 */
.list .item.item-accordion {
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.group {
	clear: left;
}

.detailsinput {
	text-align: right !important;
}

.input-label {
	min-width: 110px;
}
}